version: 2.1
orbs:
  node: circleci/node@5.0.0
  browser-tools: circleci/browser-tools@1.2.3
jobs:
  build:
    working_directory: ~/dfweb
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - browser-tools/install-browser-tools
      - node/install-packages
      - restore_cache:
          key: yarn-packages-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: yarn-packages-{{ checksum "package-lock.json" }}
          paths:
            - /home/circleci/.npm
      - run:
          name: Run Jest Tests
          command: npm run test