/* Global font */
body {
  font-family: Lato, sans-serif;
  background-color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar animations */
.navbar-link::after {
  content: "";
  display: block;
  bottom: -0.45rem;
  height: 0.2575rem;
  width: 0;
  margin: 0 auto;
  background: #fff;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link-active::after {
  width: 100%;
}
