@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
body {
  font-family: Lato, sans-serif;
  background-color: #f2f2f2;
}

/* Custom styling for main hero image */
#main-hero {
  background-image: url("../assets/images/blue-hero.jpg");
  height: 450px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-reveal {
  transition: all 1.5s;
  transform: translateY(-3em);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.icon-reveal {
  transition: all 1.5s;
  transform: translateX(3em);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}