name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b80ff79f1755d06ba70441c368a6fe801f5f3a62
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v2
        with:
          node-version: 18
          cache: "pnpm" # This will enable caching for pnpm
          version: 8
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Verify pnpm installation
        run: pnpm --version
      - name: Install dependencies
        run: npx pnpm install --frozen-lockfile
      - name: Install Playwright Browsers
        run: npx pnpm exec playwright install --with-deps
      - name: Run Playwright tests
        run: npx pnpm exec playwright test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 14
